.mainArea{
    display: flex;
    flex-direction: column;
 
text-align: center;
height: 100%;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 18%;
background-color: white;
margin: 0 2% 0 2%;
}
.top button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 32px;
gap: 8px;
width: 123px;
height: 42px;
  background: #2CA4D8;
  color:white;
box-shadow: 0px 2px 20px rgba(56, 181, 235, 0.2);
border-radius: 10px; 
border: none;
font-family: 'Roboto';
font-style: normal;

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;
}
.top button svg{
  width: 12px;
height: 12px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.top h3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */


color: #242424;
}

.table {
    display: flex;
    flex-direction: column;
    height: 72%;
 
    margin: 0 2% 0 2%;
  
    border: 1px solid #E2E5EB;
    
border-radius: 10px;

overflow: scroll;
}




.bottom-comment{
   
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 0 2%;
    height: 6%;
  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


color: #242424;
}

#customers {
 

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
 

  }
  
  #customers td, #customers th {

    padding: 5px;
    
  }
  #customers td{
   
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #242424;

  }
 
  #customers tbody tr:hover {background-color: #ddd;}
  
  #customers  th{

  
    background-color: #F1F4F8;
  }
  #customers  th:first-child {
    border-radius: 10px 0px 0px 0px;
  }
  #customers  th:last-child {
    border-radius: 0px 10px 0px 0px;
  }
