
.form-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   height: 70%;
   width: 25%;
    background: #FFFFFF;
border-radius: 20px;

z-index: 100;
}
.form-wrapper h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 24px;
margin:3% 3% ;
color: #242424;

border-bottom:0.5px solid #D3D6DB  ;
}



.student-form{
    display: flex;
    flex-direction: column;
    margin:3% ;
}

.student-form label, p, span{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
letter-spacing: 0.02em;
margin-bottom: 1%;
color: #7F878A;
}
.greenSpan{
    background-color: #2CBF6E;
    width: max-content;
    padding: 2px 8px;
    border-radius: 16px;
    color: #FFFFFF;
}
.redSpan{
    background-color: #F24643;
    width: max-content;
    padding: 2px 8px;
    border-radius: 16px;
    color: #FFFFFF;
}

.student-form label input{
    width: 80%;
    border-radius: 6px;
    border: 0.5px solid #D3D6DB ;
}

.form-btn{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 5%;
    margin: 3%;
}

.confirm{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 12px;
margin: 1% ;
    background: #2CA4D8;
    box-shadow: 0px 2px 20px rgba(44, 164, 216, 0.2);
    border-radius: 10px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 20px;
/* identical to box height, or 186% */

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.cancel{
    display: flex;
flex-direction: row;
    justify-content: center;
align-items: center;
padding: 5px 12px;




border: 1px solid #2CA4D8;
filter: drop-shadow(0px 2px 20px rgba(44, 164, 216, 0.2));
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 20px;
/* identical to box height, or 186% */

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #2CA4D8;


/* Inside auto layout */
margin: 1% 4%;
flex: none;
order: 0;
flex-grow: 0;
}
.result-wrapper{
    border-bottom:0.5px solid #D3D6DB  ;
}