
.form-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   height: 60%;
   width: 25%;
    background: #FFFFFF;
border-radius: 20px;

z-index: 100;
}
.form-wrapper h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin-left:3% ;
color: #242424;

}



.student-form{
    display: flex;
    flex-direction: column;
    margin-left:3% ;
}

.student-form label, p{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.02em;
text-transform: uppercase;

color: #7F878A;
}
.form-btn{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3%;
}

.confirm{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 16px;
gap: 10px;
margin: 1%;
    background: #2CA4D8;
    box-shadow: 0px 2px 20px rgba(44, 164, 216, 0.2);
    border-radius: 10px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.cancel{
    display: flex;
flex-direction: row;
    justify-content: center;
align-items: center;
padding: 6px 16px;
gap: 10px;



border: 1px solid #2CA4D8;
filter: drop-shadow(0px 2px 20px rgba(44, 164, 216, 0.2));
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #2CA4D8;


/* Inside auto layout */
margin: 1%;
flex: none;
order: 0;
flex-grow: 0;
}