.item1 { grid-area: sidebar; 
background-color:  #F9FCFE;

;

}
.item2 { grid-area: mainArea; }
.grid-container{
    display: grid;
    grid-template-areas:
    'sidebar mainArea mainArea mainArea mainArea mainArea mainArea mainArea mainArea mainArea';
    min-height: 100vh;
   
}
.backDrop{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #000000;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button{
    cursor: pointer;
    background: none;
    border: none;
}
