.item1 { grid-area: sidebar; 
background-color: aliceblue;

}
.item2 { grid-area: mainArea; }
.grid-container{
    display: grid;
    grid-template-areas:
    'sidebar mainArea mainArea mainArea mainArea mainArea';
    min-height: 100vh;
   
}
